---
import links from 'public/links.json'

import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const { friends } = links
// const linksConf = config.integ.links 
// const linkEditPage = 'https://github.com/iris-escent/iris-escent.github.io/blob/main/public/links.json'
---

<PageLayout title='Links' >
  <p>They're sorted randomly.</p>
  <FriendList list={friends[0]} />
  
</PageLayout>
